@import "../../global.scss";

$mobile-size: 480px;
$tablet-size: 800x;
$laptop-size: 1024px;
$large-size: 1200px;

.searchFrame {
  height: 300px;
  width: 100vw;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .searchBox {
    position: absolute;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: left;

    .findLocker {
      text-align: left;

      .findLockerText {
        font-size: 40px;
      }

      .err {
        font-size: 15px;
        font-weight: bolder;
        color: red;
      }
    }

    .findSearchInput {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(255, 255, 255, 0.7);
      width: 50vw;

      input {
        background-color: transparent;
        height: 60px;
        padding: 5px 15px;
        color: black;
        font-size: 20px;
        border: none;
        width: 35vw;

        &::placeholder {
          color: black;
        }
      }

      .findLockerButton {
        background-color: $buttonColor;
        margin: 4px 20px;
        padding: 20px 20px 2px 20px;

        &:hover {
          cursor: pointer;
        }
        // min-width: 200px;

        // @media screen and (max-width: $tablet-size) {
        //     color: blue;
        // }

        a {
          color: white;
          text-decoration: none;

          .findLockerButtonTexts {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
              font-size: 22px;
            }

            h6 {
              background-color: white;
              color: #cc4a2a;
              margin: 2px;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}
