@import "../../global.scss";

.stars {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 30px;

  .filled {
    color: $buttonColor;
  }
  .unfilled {
    color: transparent;
  }
}
